* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

#hero {
  background-image: url(./img/herobg.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#hero-title {
  color: white;
  font-size: 5rem;
}

.para-text {
  color: yellowgreen;
  font-size: 2.5rem;
  font-style: italic;
}

#hero-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-style: oblique;
}

#header-text {
  color: white;
  font-size: 2rem;
  font-style: oblique;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 87px;
  align-items: center;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  column-gap: 20px;
}
.text-white {
  color: yellow;
}

#products {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 80px;
}

.pro-header {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.pro-header h2 {
  font-size: 2.5rem;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.gallery-item {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.gallery-overlay:hover {
  opacity: 1;
}

#features {
  display: flex;
  justify-content: space-evenly;
  margin: 8rem 0;
  padding: 0 10rem;
  column-gap: 3rem;
}

.feature-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.feature-title {
  font-size: 2rem;
  font-style: normal;
  color: gold;
  font-weight: bold;
}

.feature-list li {
  display: flex;
  column-gap: 10px;
}

.footer-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: peru;
  width: 100%;
  height: 87px;
}

.footer-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  padding: 4rem 10px;
  background-color: black;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Times New Roman";
  row-gap: 20px;
  color: peru;
}

.footer-para {
  color: gray;
}
.list-color {
  color: white;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.footer-items-c {
  color: gray;
}

.footer-icons {
  color: gray;
  row-gap: 20px;
  cursor: pointer;


}

.input-item {
  color: black;
  font-size: 1rem;
  font-style: bold;
  background-color: silver;
  padding: 2px 2px;
  border-radius: 2px;
  border: none;
  
}

.email-footer {
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
}


